article {
    background-color: gray;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    margin: 10px;
}
#page {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    padding: 300px;
}
#main {
    background-color: gray;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-li {
    float: left;
}

.nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-li a:hover {
    background-color:#4CAF50;
}

.nav-li a:active {
    background-color: #4CAF50;
}
a {
    text-decoration: none;
}
article {
    text-align: center;
}
