.ad {
    background-color: gray;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    margin: 10px;
    padding: 100px 30px;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 34%;
}
#page {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    padding: 50px;
}
#main {
    background-color: gray;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
li a:active {
    background-color: #4CAF50;
}
input {
    padding: 5px;
    font-size: 15px;
}
button {
    padding: 5px 30px;
    font-size: 20px;
    background-color: #333;
    color: white;

}
button:hover {
    background-color: #4CAF50;
    cursor: pointer;
    transition-duration: 0.5s;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(77,77,77,1);
    -moz-box-shadow: 10px 10px 10px 0px rgba(77,77,77,1);
    box-shadow: 10px 10px 10px 0px rgba(77,77,77,1);
}