
#page{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
#main {
    background-color: gray;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#4CAF50;
}

li a:active {
    background-color: #4CAF50;
}