			/*body*/
body {
	height: 100vh;
}
			/*Logo*/
.logo	{
	display: flex;
	justify-content: center;
	align-items:center;
	position: relative;
    top: 10vw;
}
span {
	font:8vw solid;
}
span:hover {
	transition: 1s;
	padding-bottom: 10px;
	font: 14vw solid;
	cursor: zoom-in;
}
.github {
	transition: none!important;
}
			/*Search Input Bar*/
.input	{
	display: flex;
	justify-content: center;
	align-items:center;
	position: relative;
    top: 12vw;
}
input {
	text-align: left;
	font-size: 1vw !important;
	padding: 0.75vw 1.25vw;
	-webkit-box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.75);
	border: none;
	background: url(mic.png);
	background-size: 1.25vw;
	background-repeat: no-repeat;
	background-position: right;
}
			/*Buttons*/
.buttons {
	display: flex;
	justify-content: center;
	position: relative;
    top: 14vw;
}
.btn-st {
	font-weight: bold;
	color: #757575;
	margin: 0px 0.35vw;
	border: none;
	background-color: #f1f1f1;
	padding: 0.50vw 1vw;
	font-size: 0.70vw;
}
.btn-st:hover {
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}


@media screen and (max-width: 1000px) {
    			/*body*/
body {
	height: 100vh;
}
			/*Logo*/
.logo	{
	display: flex;
	justify-content: center;
	align-items:center;
	position: relative;
    top: 10vw;
}
span {
	font:80px solid;
}
span:hover {
	transition: height 1s width 2s;
	padding-bottom: 10px;
	font: 14vw solid;
	cursor: zoom-in;
}
			/*Search Input Bar*/
.input	{
	display: flex;
	justify-content: center;
	align-items:center;
	position: relative;
    top: 12vw;
}
input {
	text-align: left;
	font-size: 12px !important;
	padding: 0.75vw 1.25vw;
	-webkit-box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.75);
	border: none;
	background: url(mic.png);
	background-size: 1.25vw;
	background-repeat: no-repeat;
	background-position: right;
}
			/*Buttons*/
.buttons {
	display: flex;
	justify-content: center;
	position: relative;
    top: 14vw;
}
.btn-st {
	font-weight: bold;
	color: #757575;
	margin: 0px 0.35vw;
	border: none;
	background-color: #f1f1f1;
	padding: 5px 40px;
	font-size: 10px;
}
.btn-st:hover {
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}
}